//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8
//Part Number: GW1NZ-LV1QN48C6/I5
//Device: GW1NZ-1
//Created Time: Thu 09 16 14:45:08 2021

IO_LOC "LED_B" 10;
IO_PORT "LED_B" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED_G" 11;
IO_PORT "LED_G" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "LED_R" 9;
IO_PORT "LED_R" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "sys_rst_n" 13;
IO_PORT "sys_rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sys_clk" 47;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
